.contacts-app {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background: url('../Images/world.jpg') center center/cover no-repeat;;
}

.contacts-sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 35%;
    /* width: 250px; */
    /* background-color: #f2f2f2; */
    padding: 20px 0 20px 20px;
    margin: 0;
    border-right: 1px solid #ccc;
    height: 100%;
    color: white;
    /* border: 1px solid red; */
}

.contacts-sidebar h2 {
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0;
    font-size: 1.5rem;
    border-bottom: 1px solid #ddd;
    width: 90%;
}

.contacts-list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex: 2;
    overflow-y: scroll;
    scrollbar-color: rgba(255, 255, 255, 0.44) transparent;
    scrollbar-width: thin;
    /* border: 1px solid green; */
}

/* .contacts-list::-webkit-scrollbar {
  scrollbar-width: thin;
}

.contacts-list::-webkit-scrollbar-track {
  background-color: #189c3700;
}

.contacts-list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.44);
}

.contacts-list::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(183, 42, 42, 0.44);
} */

.contacts-sidebar ul {
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width: 90%;
}

.contacts-sidebar ul li {
    cursor: pointer;
    padding: 10px 0 10px 10px;
    /* border-bottom: 1px solid #ddd; */
    transition: background-color 0.3s ease;
}

.contacts-sidebar ul li:hover {
    background-color: #00000073;
}

.contacts-sidebar ul li.contacts-selected {
    font-weight: bold;
    background-color: #000000a6;
    color: rgb(255, 255, 255);
}

.contacts-main {
    flex: 1;
    padding: 20px;
}

.contacts-contact {
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.3px);
    -webkit-backdrop-filter: blur(1.3px);
    border: 1px solid rgba(255, 255, 255, 0.44);
    color: white;
    padding: 20px;
    margin: 0;
    border-radius: 4px;
    display: grid;
    grid-template-columns: min-content  1fr;
    grid-template-rows: min-content 1fr;
    gap: 5px 10px;
}

.contacts-contact h2 {
    font-size: 1.2rem;
}

.contacts-contact h2, p {
    margin: 0;
}

.contact-pic-container {
    /* border: 1px solid rebeccapurple; */
    margin: 0;
    padding: 0;
    grid-column: 1;
}

.contact-pic {
    /* border: 1px solid rebeccapurple; */
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: rgb(57, 115, 124);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.contact-img {
    /* border: 1px solid rebeccapurple; */
    margin: 0;
    padding: 0;
}

.contact-name {
    grid-column: 2;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

.contact-info {
    margin: 0;
    padding: 0;
    grid-column: 2;
}

.contact-text {
    margin: 0;
    padding: 5px 0px;
}

.contact-note {
    background: rgba(0, 0, 0, 0.671);
    border: 1px solid rgba(255, 255, 255, 0.44);
    border-radius: 5px;
    min-height: 70px;
    padding: 10px;
    margin: 0;
    white-space: pre-wrap;
    line-height: 20px;
    font-size: 14px;
}

.contacts-no-contact-selected {
    background: rgba(20, 20, 20, 0.521);
    border: 1px solid rgba(255, 255, 255, 0.44);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.contacts-no-contact-selected p {
    margin: 0;
    font-size: 1rem;
    color: white;
}