.docs-container * {
    margin: 0;
    padding: 0;
}

.docs-container-outer {
    --docs-header-color: rgb(228, 228, 228);
    --docs-bg-color: rgb(51, 51, 51);
    --docs-light-color: #1a2727;
    --docs-accent-color: rgb(18, 117, 76);
    --docs-doc-bg-color: rgb(215, 215, 215);
    box-sizing: border-box;
    /* border: 2px solid rebeccapurple; */
    height: 100%;
    display: flex;
    position: relative;
}

.docs-container {
    box-sizing: border-box;
    /* border: 2px solid rebeccapurple; */
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    font-family: serif;
    background-color: var(--docs-bg-color);
}

.docs-header-div {
    /* border: 1px solid red; */
    padding: 0px 10px;
    background-color: var(--docs-header-color);
    color: black;
    writing-mode: vertical-rl;
    scale: -1; /* to flip the text back to normal orientation */
}

#docs-header {
    box-sizing: border-box;
    border-left: 3px solid var(--docs-accent-color);
    border-right: 3px solid var(--docs-accent-color);
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: .2em;
    font-size: 3em;
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}

.docs-list-div {
    width: 100%;
    padding: 20px;
    overflow-y: auto;
    scrollbar-color: var(--scrollbar-standard-color) transparent;
    scrollbar-width: thin;
}

.docs-item {
    border: 1px solid rgb(208, 208, 208);
    display: flex;
    background-color: white;
    cursor: pointer;
    margin-bottom: 15px;
    color: var(--docs-light-color);
    transition: background-color 0.2s, color 0.2s;
}

.docs-item:hover {
    border: 1px solid var(--docs-accent-color);
    background-color: var(--docs-accent-color);
    color: white;
}

.docs-item:active {
    background-color: var(--docs-header-color);
    color: var(--docs-light-color);
}

.docs-name {
    text-align: left;
    width: var(--thumbnail-width);
    padding: 5px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
    /* border: 1px solid olivedrab; */
    display: flex;
    align-items: center;
}

#docs-icon {
    font-size: 16px;
    margin-right: 10px;
}

.document-outer-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 1px solid teal; */
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.document-header {
    background-color: white;
    border-bottom: 2px solid var(--docs-accent-color);
    height: 40px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.document-title {
    font-size: 15px;
    color: var(--docs-light-color);
    font-family: serif;
}

#document-back-icon {
    padding: 5px;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--docs-light-color);
}

#document-back-icon:hover {
    background-color: rgba(from var(--docs-light-color) r g b / 0.1);;
}

#document-back-icon:active {
    background-color: rgba(from var(--docs-light-color) r g b / 0.5);;
}

.document-inner-div {
    --scrollbar-standard-color: rgba(126, 126, 126, 0.788);
    flex: 2;
    box-sizing: border-box;
    background-color: var(--docs-doc-bg-color);
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    overflow-y: scroll;
    scrollbar-color: var(--scrollbar-standard-color) transparent;
    scrollbar-width: thin;
}

.document-doc {
    box-sizing: border-box;
    background-color: white;
    width: 70%;
    height: min-content;
    min-height: 700px;
    padding: 20px;
    position: relative;
}

#document-text {
    padding: 0;
    margin: 0;
    white-space: pre-wrap;
    line-height: 25px;
    font-size: 14px;
    /* border: 1px solid red; */
}