.photos-container * {
    margin: 0;
    padding: 0;
}

.photos-container {
    --photos-header-color: rgb(29, 29, 29);
    --photos-bg-color: rgb(237, 237, 237);
    --photos-light-color: rgb(138, 138, 138);
    --photos-accent-color: var(--smos-orange);
    box-sizing: border-box;
    /* border: 1px solid rebeccapurple; */
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5px;
    position: relative;
    overflow: hidden;
    font-family: serif;
    background-color: var(--photos-bg-color);
}

.photos-header-div {
    /* border: 1px solid red; */
    padding: 0px 10px;
    background-color: var(--photos-header-color);
    color: white;
    writing-mode: vertical-rl;
    scale: -1; /* to flip the text back to normal orientation */
}

#photos-header {
    box-sizing: border-box;
    border-left: 3px solid var(--photos-accent-color);
    border-right: 3px solid var(--photos-accent-color);
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: .3em;
    font-size: 3em;
    -webkit-user-select: none; /* Safari */
    user-select: none; /* Standard syntax */
}

.photos-sections-div {
    /* border: 1px solid rgb(32, 218, 113); */
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    overflow-y: scroll;
    scrollbar-color: var(--scrollbar-darker-color) transparent;
    scrollbar-width: thin;
}

/* .photos-section {
    border: 1px solid rgb(173, 57, 57);
} */

#photos-section-header {
    margin-bottom: 15px;
    color: var(--photos-header-color);
    letter-spacing: .05em;
}

.photos-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.photos-photo {
    border: 1px solid rgba(208, 208, 208, 0);
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(0, 128, 0, 0.788); */
}

.photos-photo:hover {
    border: 1px solid var(--photos-accent-color);
}

.photos-photo:active {
    background-color: var(--photos-bg-color);
}

.photos-photo img {
    max-width: 200px;
    height: 150px;
    object-fit: contain;
}

/* #photos-icon {
    font-size: 16px;
    margin-right: 10px;
} */

.photo-modal {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border: 1px solid hotpink; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 20px 0;
    background-color: var(--photos-bg-color);
}

#photo-x-icon {
    position: absolute;
    top: 20px;
    left: 100px;
    padding: 5px;
    border-radius: 50%;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
    color: var(--photos-header-color);
}

#photo-x-icon:hover {
    background-color: var(--photos-light-color);
}

#photo-x-icon:active {
    background-color: rgba(from var(--photos-light-color) r g b / 0.5);
}

.photo-modal img {
    width: 100%;
    /* border: 1px solid red; */
    object-fit: contain;
}