.login-screen-container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
  }

.lock-screen {
    background-color: #1e1e1e;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9ca3fa;
    /* background: url('../Images/lock_screen_bg.jpg') center center/cover no-repeat; */
    position: relative;
}

.lock-screen-content {
    text-align: center;
    margin-bottom: 30px;
}

.lock-screen-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.windows-logo-div {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.windows-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#lock-screen-back-btn {
    padding: 10px;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#lock-screen-back-btn:hover {
    background-color: rgba(255, 255, 255, 0.199);
}

#lock-screen-back-btn:active {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Animation classes */

.login-screen-container.fade-out {
    /* animation: fade-out .6s ease-in forwards; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .6s, opacity .6s linear;
}

.login-screen-container.fade-in {
    /* animation: fade-in .6s ease-in forwards; */
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}

.start-screen.slide-up {
    animation: slide-up 1s linear forwards;
}

.start-screen.slide-down {
    animation: slide-down 1s linear forwards;
    /* for future reference */
    /* animation: slide-down .7s steps(15, jump-none) forwards; */
}

/* Animation keyframes */

@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        display: block;
    }

    0% {
        opacity: 0;
        display: none;
    }
}

@keyframes slide-up {
    from {
        translate: 0 0;
        display: flex;
    }

    to {
        translate: 0 -110vh;
        display: none;
    }
}

@keyframes slide-down {
    to {
        translate: 0 0;
        display: flex;
    }

    from {
        translate: 0 -110vh;
        display: none;
    }
}