.pw-form-div {
    text-align: center;
}

.pw-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-input {
    box-sizing: border-box;
    padding: 10px;
    height: 40px;
    border-style: none;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    width: 250px;
    letter-spacing: .1rem;
}

.login-input:focus {
    outline: 1px solid black;
    outline-offset: -2px;
    border-radius: 4px 0 0 4px;
}

.pw-form button {
    box-sizing: border-box;
    padding: 10px 10px;
    height: 40px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
}

.unlock-button {
    background-color: #292929;
    color: white;
    border-radius: 0 4px 4px 0;
}

.unlock-button:hover {
    background-color: black;
}

.visibility-toggle {
    background-color: white;
    color: #292929;
}

.visibility-toggle:hover {
    color: rgb(11, 164, 133);
}

.pw-hint {
    font-size: 16px;
    margin-top: 20px;
}