.start-screen * {
    margin: 0;
    padding: 0;
}

.start-screen {
    background-color: #1e1e1e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #939df7;
    background: url('../Images/default_bg.jpeg') center center/cover no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}