* {
  --main-theme-color: #062c73;
  --secondary-theme-color: #0255ed;
  --theme-text-color: white;
  --taskbar-height: 55px;
  --scrollbar-standard-color: rgba(255, 255, 255, 0.44);
}

.computer-screen-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.desktop-screen-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}