* {
  --main-theme-color: #022612;
  --secondary-theme-color: #4ba674;
  --theme-text-color: white;
  --taskbar-height: 55px;
}

.computer-screen-container {
  margin: 0;
  padding: 0;
  position: relative;
}

.desktop-screen-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}